<div>
    <p>Dear <%= name %>,</p>
    <p>Your verification OTP is: <strong style="color: #AB19FF; letter-spacing: 2px;  font-size: 1.5em; ">
            <%= otp %>
        </strong></p>
    <p>Please use this OTP to complete your process.</p>
    <p>If you didn't request this OTP, you can safely ignore this message.</p>
    <p style="margin-top: 40px;">Best regards,</p>
    <p>The <%= sails.config.siteName %> Team</p>
</div>