<div>
    <h1 style="color: #ab19ff">
        <%= title %>
    </h1>
    <p>
        <%= description %>
    </p>
    <p style="margin-top: 40px">Best regards,</p>
    <p>The <%= sails.config.siteName %> Team</p>
</div>